In [1]:
import pandas as pd

data=pd.read_csv("marketing.data.100.csv")

data

,Name,Email,Age,Gender,Country,Source,Conversion,Clicks,Impressions,Spend,Revenue
0,Vikram,vikram26@gmail.com,45,Male,India,Google Ads,Yes,30,370,366.55,302.82
1,Arjun,arjun92@example.com,19,Male,Canada,Email,No,50,143,460.78,0.00
2,Vikram,vikram91@outlook.com,29,Female,Canada,Instagram,No,53,168,81.72,0.00
3,Vikram,vikram70@outlook.com,36,Female,Canada,Instagram,Yes,39,396,329.52,535.11
4,Riya,riya67@gmail.com,23,Female,UK,Google Ads,Yes,88,265,62.43,82.29
...,...,...,...,...,...,...,...,...,...,...,...
95,Sneha,sneha95@gmail.com,29,Male,UK,Instagram,No,3,15,53.68,0.00
96,Amit,amit90@yahoo.com,57,Female,India,Google Ads,Yes,58,165,288.18,571.31
97,Rahul,rahul13@example.com,38,Female,USA,Facebook,No,98,401,421.90,0.00
98,Sneha,sneha10@gmail.com,44,Male,India,Instagram,No,6,119,120.90,0.00
99,Vikram,vikram61@example.com,52,Male,Australia,Google Ads,No,19,449,337.54,0.00

In [2]:
data.head(10)

,Name,Email,Age,Gender,Country,Source,Conversion,Clicks,Impressions,Spend,Revenue
0,Vikram,vikram26@gmail.com,45,Male,India,Google Ads,Yes,30,370,366.55,302.82
1,Arjun,arjun92@example.com,19,Male,Canada,Email,No,50,143,460.78,0.00
2,Vikram,vikram91@outlook.com,29,Female,Canada,Instagram,No,53,168,81.72,0.00
3,Vikram,vikram70@outlook.com,36,Female,Canada,Instagram,Yes,39,396,329.52,535.11
4,Riya,riya67@gmail.com,23,Female,UK,Google Ads,Yes,88,265,62.43,82.29
5,Priya,priya84@yahoo.com,50,Male,USA,Instagram,No,35,79,68.37,0.00
6,Karan,karan84@outlook.com,32,Male,India,Email,No,66,277,268.72,0.00
7,Karan,karan9@gmail.com,35,Female,UK,Facebook,Yes,2,385,431.78,399.64
8,Priya,priya81@outlook.com,55,Male,USA,Organic,Yes,20,196,339.93,653.37
9,Priya,priya67@gmail.com,57,Male,Canada,Google Ads,No,49,280,416.03,0.00

In [19]:
data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
95,56,1,2,120,236,0,0,178,0,0.8,1,0,3,1
96,62,0,4,140,268,0,2,160,0,3.6,3,2,3,0
97,57,0,4,120,354,0,0,163,1,0.6,2,0,3,1
98,63,1,4,130,254,1,2,147,0,1.4,2,1,7,1
99,53,1,4,140,203,1,2,155,1,3.1,3,0,7,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         100 non-null    object
 1   Email        100 non-null    object
 2   Age          100 non-null    int64
 3   Gender       100 non-null    object
 4   Country      100 non-null    object
 5   Source       100 non-null    object
 6   Conversion   100 non-null    object
 7   Clicks       100 non-null    int64
 8   Impressions  100 non-null    int64
 9   Spend        100 non-null    float64
 10  Revenue      100 non-null    float64
dtypes: float64(2), int64(3), object(6)
memory usage: 8.7+ KB

In [4]:
data.describe()

              Age      Clicks  Impressions       Spend     Revenue
count  100.000000  100.000000   100.000000  100.000000  100.000000
mean    36.620000   52.340000   291.840000  258.687700  193.772900
std     12.377709   28.349272   155.159268  131.980426  241.927654
min     18.000000    1.000000    15.000000   22.690000    0.000000
25%     25.000000   28.500000   167.250000  150.542500    0.000000
50%     33.500000   57.500000   284.000000  258.120000   86.985000
75%     46.250000   74.000000   423.750000  367.052500  372.792500
max     60.000000  100.000000   563.000000  494.930000  866.700000

In [23]:
data.isnull()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [32]:
data.isnull().sum()

Name           0
Email          0
Age            0
Gender         0
Country        0
Source         0
Conversion     0
Clicks         0
Impressions    0
Spend          0
Revenue        0
dtype: int64

In [10]:
B1=data["Spend"].mode()
B1

0      22.69
1      32.43
2      53.68
3      55.47
4      60.92
       ...
95    473.98
96    477.11
97    478.34
98    490.75
99    494.93
Name: Spend, Length: 100, dtype: float64

In [11]:
A1=data["Revenue"].mean()
A1

193.77290000000002

In [13]:
B1=data["Source"].mode()
B1

0    Facebook
Name: Source, dtype: object

In [15]:
B1=data["Revenue"].median()
B1

86.98500000000001

In [14]:
B1=data["Impressions"].mode()
B1

0     79
1    105
2    168
3    280
4    288
5    370
6    517
7    548
Name: Impressions, dtype: int64

In [17]:
C1=data["Clicks"].mean()
C1

52.34

In [27]:
data["Clicks"].fillna(A1, inplace = True)
data["Age"].fillna(A1, inplace = True)
data["Spend"].fillna(A1, inplace = True)

C:\Users\SIVA M\AppData\Local\Temp\ipykernel_5632\1130763908.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Clicks"].fillna(A1, inplace = True)
C:\Users\SIVA M\AppData\Local\Temp\ipykernel_5632\1130763908.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Age"].fillna(A1, inplace = True)
C:\Users\SIVA M\AppData\Local\Temp\ipykernel_5632\1130763908.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Spend"].fillna(A1, inplace = True)

In [31]:
missingvalue = data.isnull().sum()
missingvalue

Name           0
Email          0
Age            0
Gender         0
Country        0
Source         0
Conversion     0
Clicks         0
Impressions    0
Spend          0
Revenue        0
dtype: int64

In [34]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [36]:
data["Gender"] = label_encoder.fit_transform(data["Gender"])
data["Gender"]

0     1
1     1
2     0
3     0
4     0
     ..
95    1
96    0
97    0
98    1
99    1
Name: Gender, Length: 100, dtype: int32

In [37]:
data

,Name,Email,Age,Gender,Country,Source,Conversion,Clicks,Impressions,Spend,Revenue
0,Vikram,vikram26@gmail.com,45,1,India,Google Ads,Yes,30,370,366.55,302.82
1,Arjun,arjun92@example.com,19,1,Canada,Email,No,50,143,460.78,0.00
2,Vikram,vikram91@outlook.com,29,0,Canada,Instagram,No,53,168,81.72,0.00
3,Vikram,vikram70@outlook.com,36,0,Canada,Instagram,Yes,39,396,329.52,535.11
4,Riya,riya67@gmail.com,23,0,UK,Google Ads,Yes,88,265,62.43,82.29
...,...,...,...,...,...,...,...,...,...,...,...
95,Sneha,sneha95@gmail.com,29,1,UK,Instagram,No,3,15,53.68,0.00
96,Amit,amit90@yahoo.com,57,0,India,Google Ads,Yes,58,165,288.18,571.31
97,Rahul,rahul13@example.com,38,0,USA,Facebook,No,98,401,421.90,0.00
98,Sneha,sneha10@gmail.com,44,1,India,Instagram,No,6,119,120.90,0.00
99,Vikram,vikram61@example.com,52,1,Australia,Google Ads,No,19,449,337.54,0.00

In [60]:
X=data.drop(["Name","Email","Conversion","Clicks","Impressions","Revenue","Country","Source"],axis=1)
y=data["Spend"]

In [61]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [62]:
X_train.head()

    Age  Gender   Spend
55   48       1  477.11
88   49       0  203.25
26   25       0  427.85
42   44       1  155.39
69   57       1   72.83

In [63]:
X_test.head()

    Age  Gender   Spend
83   59       1  368.56
53   47       0  291.10
70   19       0  181.74
45   30       1  286.30
44   25       1  346.97

In [64]:
y_test.head()

83    368.56
53    291.10
70    181.74
45    286.30
44    346.97
Name: Spend, dtype: float64

In [65]:
y_train.head()

55    477.11
88    203.25
26    427.85
42    155.39
69     72.83
Name: Spend, dtype: float64

In [66]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [67]:
ypre=model.predict(X_test)
print(ypre)

[368.56 291.1  181.74 286.3  346.97  32.43 426.35 445.46 415.5  366.55
 312.74 201.63 135.88  62.94 171.5   62.43 389.42 175.04 226.49 259.46]

In [68]:
y_test

83    368.56
53    291.10
70    181.74
45    286.30
44    346.97
39     32.43
22    426.35
80    445.46
10    415.50
0     366.55
18    312.74
30    201.63
73    135.88
33     62.94
90    171.50
4      62.43
76    389.42
77    175.04
12    226.49
31    259.46
Name: Spend, dtype: float64